.overview {
    margin: 2.875rem auto 0.375rem;

    @include breakpoint-up(medium) {
        margin: 1.125rem auto -1.375rem;
    }

    h1 {
        font-size: 1.5rem;
        color: var(--bold-text);

        @include breakpoint-up(medium) {
            font-size: 1.4375rem;
        }
    }

    &__cards {
        display: block;
        gap: 22px 30px;
        margin-top: 1.75rem;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);

        @include breakpoint-up(medium) {
            display: grid;
            margin-top: 1.375rem;
        }
    }

    &__card {
        cursor: pointer;
        border-radius: 5px;
        background: var(--card-bg);
        padding: 0.3125rem 2rem 1.125rem 1.5rem;

        @include breakpoint-up(medium) {
            padding: 0.3125rem 1.6875rem 1.125rem 1.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;

            @include breakpoint-up(medium) {
                margin-bottom: 0;
            }
        }

        .activity,
        .stat,
        .stat-label {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .activity {
            padding: 1.25rem 0 1.375rem;

            @include breakpoint-up(medium) {
                padding: 1.25rem 0;
            }

            p {
                font-weight: bold;
                font-size: 0.875rem;
                color: var(--small-text);

                @include breakpoint-up(medium) {
                    font-size: 13.3px;
                }
            }

            img {
                width: 1.25rem;

                @include breakpoint-up(medium) {
                    width: 1.125rem;
                }
            }
        }

        .stat {

            h2 {
                font-size: 2rem;
                color: var(--bold-text);

                @include breakpoint-up(medium) {
                    font-size: 1.875rem;
                }
            }

            &-label {
                margin-top: 0.625rem;

                @include breakpoint-up(medium) {
                    margin-top: 1rem;
                }

                p {
                    margin-left: 3px;
                    font-weight: bold;
                    color: $limeGreen;
                    font-size: 0.75rem;

                    @include breakpoint-up(medium) {
                        margin-left: 2px;
                        font-size: 0.6875rem;
                    }
                }

                .red-text {
                    color: $brightRed;
                }
            }
        }
    }
}